<style>
  #new-post-section {
    background-color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  #new-post-section form {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    width: 350px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
  }
  #new-post-section form > div {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 5px;
  }
  #new-post-section form > div label {
    font-size: 20px;
    font-family: sans-serif;
    font-weight: 400;
  }
  #new-post-section form > div > input,
  textarea {
    width: 100%;
    padding: 10px 15px;
    border: 1px solid rgba(0, 0, 255, 0.548);
    border-radius: 5px;
  }
  #new-post-section form > div input:focus,
  textarea:focus {
    border: 1px solid blue;
    outline: 1px solid rgba(0, 0, 255, 0.548);
  }
  #new-post-section form button {
    background-color: rgb(92, 92, 248);
    padding: 10px;
    font-size: 20px;
    border-radius: 10px;
    color: white;
    border: none;
    cursor: pointer;
  }
</style>

<body>
  <main>
    <section id="new-post-section">
      <form id="new-post-form">
        <div>
          <label for="name">Title:</label>
          <input
            required
            autofocus
            type="text"
            name="title"
            id="title"
            placeholder="Enter post title"
          />
        </div>
        <div>
          <label for="description">Description:</label>
          <textarea
            required
            name="description"
            id="description"
            placeholder="Write your post description"
          ></textarea>
        </div>
        <div>
          <label for="image">Image:</label>
          <input type="file" />
        </div>
        <button id="new-post-btn" type="submit">Save changes</button>
      </form>
    </section>
  </main>
</body>

<script>
  const route = window.location.pathname;
  const pathArray = route.split("/");
  const postId = pathArray[pathArray.length - 1];

  const fetchSinglePost = async () => {
    try {
      const res = await fetch(
        `https://hono-drizzle-app.onrender.com/api/v1/post/${postId}`
      );
      const data = await res.json();
      const post = data?.post;
      document.getElementById("title").value = post?.title;
      document.getElementById("description").value = post?.description;
    } catch (error) {
      console.log("Error to fetch post", error);
    }
  };

  fetchSinglePost();

  document
    .getElementById("new-post-form")
    .addEventListener("submit", async (event) => {
      event.preventDefault();
      const form = event.target;
      const title = form.title.value;
      const description = form.description.value;
      try {
        const res = await fetch(
          `https://hono-drizzle-app.onrender.com/api/v1/post/${postId}`,
          {
            headers: {
              "Content-Type": "application/json",
            },
            method: "PATCH",
            body: JSON.stringify({
              title,
              description,
            }),
          }
        );
        const data = await res.json();
        if (data?.statusCode) {
          window.location.replace("/");
        } else {
          alert("Post was not updated");
        }
      } catch (error) {
        console.log("Error to update post", error);
      }
    });
</script>
