<style>
  #login-section {
    background-color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  #login-section form {
    background-color: white;
    padding: 40px 20px;
    border-radius: 10px;
    width: 350px;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
  }
  #login-section form > div {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 5px;
  }
  #login-section form > div label {
    font-size: 20px;
    font-family: sans-serif;
    font-weight: 400;
  }
  #login-section form > div input {
    width: 100%;
    padding: 10px 15px;
    border: 1px solid rgba(0, 0, 255, 0.548);
    border-radius: 5px;
  }
  #login-section form > div input:focus {
    border: 1px solid blue;
    outline: 1px solid rgba(0, 0, 255, 0.548);
  }
  #login-section form button {
    background-color: blue;
    padding: 10px;
    font-size: 20px;
    border-radius: 10px;
    color: white;
    border: none;
    cursor: pointer;
  }
</style>

<body>
  <main>
    <section id="login-section">
      <form id="login-form">
        <div>
          <label for="email">Email:</label>
          <input
            autofocus
            required
            type="email"
            name="email"
            id="email"
            placeholder="Enter your email"
          />
        </div>
        <div>
          <label for="password">Password:</label>
          <input
            required
            type="password"
            name="password"
            id="password"
            placeholder="Enter your password"
          />
        </div>
        <button id="login-btn" type="submit">Login</button>
      </form>
    </section>
  </main>
</body>

<script>
  document
    .getElementById("login-form")
    .addEventListener("submit", async (event) => {
      event.preventDefault();
      const form = event.target;
      const email = form.email.value;
      const password = form.password.value;
      try {
        const res = await fetch(
          "https://hono-drizzle-app.onrender.com/api/v1/auth/login",
          {
            headers: {
              "Content-Type": "application/json",
            },
            method: "POST",
            body: JSON.stringify({ email, password }),
          }
        );
        const result = await res.json();
        if (result.statusCode === 200) {
          window.location.replace("/");
        } else {
          alert("Login was failed");
        }
      } catch (error) {
        console.log("Error to login", error);
        alert("There was an error to login");
      }
    });
</script>
