<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>404 - not Found</title>
  </head>
  <body
    style="
      display: flex;
      justify-content: center;
      align-items: center;
      min-height: 100vh;
    "
  >
    <div style="text-align: center">
      <h2>The page you requested was not found</h2>
      <a
        style="
          background-color: blue;
          color: white;
          padding: 10px 20px;
          border-radius: 5px;
          font-size: 20px;
          font-family: sans-serif;
          font-weight: 500;
          text-decoration: none;
        "
        href="/"
        >Back to Home</a
      >
    </div>
  </body>
</html>
