<style>
  #register-section {
    background-color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  #register-section form {
    background-color: white;
    padding: 40px 20px;
    border-radius: 10px;
    width: 300px;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
  }
  #register-section form > div {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 5px;
  }
  #register-section form > div label {
    font-size: 20px;
    font-family: sans-serif;
    font-weight: 400;
  }
  #register-section form > div input {
    width: 100%;
    padding: 10px 15px;
    border: 1px solid rgba(0, 0, 255, 0.548);
    border-radius: 5px;
  }
  #register-section form > div input:focus {
    border: 1px solid blue;
    outline: 1px solid rgba(0, 0, 255, 0.548);
  }
  #register-section form button {
    background-color: blue;
    padding: 10px;
    font-size: 20px;
    border-radius: 10px;
    color: white;
    border: none;
    cursor: pointer;
  }
</style>
<body>
  <main>
    <section id="register-section">
      <form id="register-form">
        <div>
          <label for="name">Name:</label>
          <input
            required
            autofocus
            type="text"
            name="name"
            id="name"
            placeholder="Enter your name"
          />
        </div>
        <div>
          <label for="email">Email:</label>
          <input
            required
            type="email"
            name="email"
            id="email"
            placeholder="Enter your email"
          />
        </div>
        <div>
          <label for="password">Password:</label>
          <input
            required
            type="password"
            name="password"
            id="password"
            placeholder="Enter your password"
          />
        </div>
        <button id="register-btn" type="submit">Register</button>
      </form>
    </section>
  </main>
</body>
<script>
  document
    .getElementById("register-form")
    .addEventListener("submit", async (event) => {
      event.preventDefault();
      const form = event.target;
      const name = form.name.value;
      const email = form.email.value;
      const password = form.password.value;
      try {
        const res = await fetch("http://localhost:5000/api/v1/auth/register", {
          headers: {
            "Content-Type": "application/json",
          },
          method: "POST",
          body: JSON.stringify({ name, email, password }),
        });
        const result = await res.json();
        if (result.statusCode === 201) {
          window.location.replace("/login");
        } else {
          alert("Register was failed");
        }
      } catch (error) {
        console.log("Error to register", error);
        alert("There was an error to register");
      }
    });
</script>
